<p>dashboard works!</p>
<div class="main">
    <div class="left">
        <h1 style="color:rgb(196, 169, 169);">Mini-Project</h1>
        <button routerLink="/login">Login</button><hr>
<h2 routerLink="dashboard" style="color:rgb(196, 169, 169);">dashboard</h2>
<h3 routerLink="home" style="color:rgb(196, 169, 169);">home</h3>
<h3 routerLink="createmployee" style="color:rgb(196, 169, 169);">createmployee</h3>
<h3 routerLink="allemployees" style="color:rgb(196, 169, 169);">allemployees</h3><hr>
<button routerLink="/login">Logout</button>
    </div>
    <div class="right">
    <router-outlet></router-outlet>
    </div>
</div>
